# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Temporary files
*.tmp
*.temp